@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-5">
        <div class="panel">
            <div class="panel-heading">
                <h2>Top 5 Beers</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Beer1</li>
                <li class="list-group-item">Beer2</li>
                <li class="list-group-item">Beer3</li>
                <li class="list-group-item">Beer4</li>
                <li class="list-group-item">Beer5</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-5">
        <div class="panel">
            <div class="panel-heading">
                <h2>B&P of the Day</h2>
            </div>
            <div class="panel-body">
                beer and pizza
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="panel">
            <div class="panel-heading">
                <h2>Top 5 Pizzas</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Pizza1</li>
                <li class="list-group-item">Pizza2</li>
                <li class="list-group-item">Pizza3</li>
                <li class="list-group-item">Pizza4</li>
                <li class="list-group-item">Pizza5</li>
            </ul>
        </div>
    </div>
</div>