@using FrontEnd.ViewModels
@model SplashPageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-5">
        <div class="panel">
            <div class="panel-heading">
                <h2>Top 5 Beers</h2>
            </div>
            <ul class="list-group">
                @foreach(var beer in Model.TopFiveBeers)
                {
                    <li class="list-group-item">@beer.Name</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-5">
        <div class="panel">
            <div class="panel-heading">
                <h2>B&P of the Day</h2>
            </div>
            <div class="panel-body">
                beer and pizza
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="panel">
            <div class="panel-heading">
                <h2>Top 5 Pizzas</h2>
            </div>
            <ul class="list-group">
                @foreach (var pizza in Model.TopFivePizzas)
                {
                    <li class="list-group-item">@pizza.Name</li>
                }
            </ul>
        </div>
    </div>
</div>